.heading {
    //repeated1
    background-image: url(../images/skills/logo.svg);
    background-size: 100%;
    height: 210px;
    background-repeat: no-repeat;
    border: 6px solid black;
    align-content: center;
    display: flex;
    justify-content: center;

    .heading-name {
        padding: 20px;
        border: 3px solid #C0C0C0;
        color: rgb(0, 0, 0);
        background-color: #F8F8F8;
        opacity: .8;
    }
}

.projects_contianer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.project {
    border: 5px dotted #FFFFFF;

    h4 {
        font-size: 1.5em;
    }

    p {
        margin-left: 7px;
        margin-right: 7px;
    }
}

.projects_img {
    display: grid;
    text-align: center;

    @media only screen and (min-width: 434px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.projects_pic {
    max-width: 40%;
    overflow: hidden;
}

:root {
    /* Set fade in duration */
    --fade-time: 0.5s;
}

.img_container {
    margin: 0 20px;
}

.main-img img {
    border: rgb(168, 167, 167) solid 3px;
    margin-top: 5px;
    width: 100%;
}

.imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: rgb(168, 167, 167) solid 3px;
    background: #fff;
    width: 80%;
    margin-bottom: 4px;

    li {
        overflow: hidden;
        align-items: center;
        flex: 1 0 22%;
        margin: 2px;
    }

    .screen-shots {
        display: inline-block;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

/* Fade in animation */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

@media only screen and (min-width: 434px) {
    .main-img img,
    .screen-shots {
        width: 80%;
    }
    .screen-shots {
        flex: 1 0 34%;
    }
}

.skills_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    @media only screen and (min-width: 434px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px;
    }

    @media only screen and (min-width: 1025px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;
    }
}

.skills_item {
    text-align: center;
}

.skills_item, .logo {
    width: 150px;
    height: 150px;
    margin: auto;
    overflow: hidden;
}

.logo {
    width: 150px;
    height: 150px;
}

footer {
    //repeated1
    border: 6px solid black;
    text-align: center;
}
